<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" >
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />  
  <title>Memory</title>  
  <link href="css/bootstrap.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="memory.css" />
  <script src="js/angular.js"></script>
  <script src="memory.js"></script>
</head>
<body
   ng-app="memoryApp" ng-csp="" ng-controller="MemoryController"
   >
  
  <div class="container MemoryBuilder" ng-if="!playing">

    <div class="row">
      <div class="col-md-5">

	<div class="masthead">
          <ul class="nav nav-pills pull-right">
            <li><a href="index.html" title="Home"><i class="glyphicon glyphicon-home"></i></a></li>
	    <li><a href="#" title="Clear" ng-click="clear()"><i class="glyphicon glyphicon-remove-sign"></i></a></li>
          </ul>
          <h3 class="text-muted">Memory</h3>
	</div>

	<hr />
	
	<div>
	  <form class="form-inline">

	    <label>Size:</label>
	    <input class="form-control" type="number" ng-model="rows" min="3" max="8" size="3"/>
	    ×
	    <input class="form-control" type="number" ng-model="columns" min="3" max="8" size="3"/>
	    <button class="btn btn-primary" ng-click="game.play()" ng-disabled="!playReady()">
	      <i class="glyphicon glyphicon-thumbs-up"></i> Go!
	    </button>
	  </form>
	  
	  <p class="{{playStyle()}}">Images: {{media.length}} / {{neededTiles()}}</p>
	</div>	

	<hr />

        <p>Add images :</p>
        <ol>
          <li><p><b>Drop</b> or <b>paste</b> images, links …</p></li>
          <li>
	    <form class="form-inline">
	      <label>Add file(s):</label>
	      <input type="file" accept="image/*,text/uri-list" multiple="multiple" />
	    </form>
          </li>
          <li>
	    <form class="form-inline" ng-submit="addUrl()">
	      <label>URLs: </label>
	      <input class="url" type="url" ng-model="url" />
	      <button class="btn btn-default" type="submit" alt="Add"><i class="glyphicon glyphicon-plus-sign"></i>Add</button>
	    </form>
          </li>
          <li>
	    <div ng-if="userMediaEnabled">
	      <p>
	        Builtin camera:
	        <button class="btn btn-default" ng-click="startStream()" ng-if="!stream"><i class="glyphicon glyphicon-play"></i>Start</button>
	        <button class="btn btn-default" ng-click="stopStream()" ng-if="stream"><i class="glyphicon glyphicon-stop"></i>Stop</button>
	        <button class="btn btn-default" ng-click="takePicture()" ng-disabled="!stream"><i class="glyphicon glyphicon-camera"></i>Take</button>
	      </p>
	      <video autoplay="autoplay" />
	      <canvas />
	    </div>
	  </li>
        </ol>
      </div>
      <div class="filedrop col-md-7"
	   dropzone="f:image/*"
	   >
	<div ng-repeat="m in media" style="display: table-row;">
	  <div style="display: table-cell;">
	    <div class="memory-cell">
	      <img src="{{m.url}}" data-autofit=""/>
	    </div>
	  </div>
	  <div style="display: table-cell;">
	    <p><a class="btn btn-default" href="{{m.url}}" download="" target="_blank">Save</a></p>
	    <p><button class="btn btn-default" type="button" ng-click="removeMedia(m)"
		       ><i class="glyphicon glyphicon-remove-sign"></i>Remove</button></p>
	  </div>
	</div>
      </div>
    </div>
  </div>

  <!-- ***** ***** ***** ***** -->

  <div class="container" ng-if="playing">
    <button type="button" class="btn btn-link" ng-click="stopPlay()"><i class="glyphicon glyphicon-step-backward"></i></button>
    <button type="button" class="btn btn-link" ng-click="game.play()"><i class="glyphicon glyphicon-repeat"></i></button>
    <table>
      <tbody>
	<tr ng-repeat="row in game.grid">
	  <td ng-repeat="cell in row" ng-click="game.click(cell)">
	    <div class="memory-cell
			selected-{{cell==game.selectedCell || cell==game.otherSelectedCell}}">
	      <img src="{{cell.media.url}}" data-autofit=""
		   ng-if="cell.found || cell==game.selectedCell || cell==game.otherSelectedCell"/>
	    </div>
	  </td>
	</tr>
      </tbody>
    </table>
  </div>

</body>
</html>
