body {
    padding-top: 30px;
    padding-bottom: 30px;
}

.memory-cell {
  width: 5cm;
  height: 5cm;
  border: black solid thin;
  background-color: white;
}

.memory-cell > img {
    max-height: 100%;
    max-width: 100%;
    /* object-fit: contain; */
}

.filedrop {
    height: 20cm;
    overflow-y: auto;
    border-radius: 10px;
}

video {
    max-width: 100%;
}

