<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" ng-app=""
      ng-controller="MemoryControler">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />  
  <title>Memory</title>  
 
  <link href="css/bootstrap.css" rel="stylesheet" />
  <!-- <link href="css/bootstrap-responsive.css" rel="stylesheet" /> -->
  <link rel="stylesheet" type="text/css" href="memory.css" />

  <!-- <script src="js/jquery-1.8.3.js"></script> -->
  <!-- <script src="js/bootstrap.js"></script> -->
  <script src="js/angular.min.js">
  </script>
  <script src="memory.js"></script>

</head>
<body> 
  
  <div class="container MemoryBuilder" ng-show="!playing">

    <div class="row-fluid">
      <div class="span5">

	<div class="masthead">
          <ul class="nav nav-pills pull-right">
            <li><a href="index.html" title="Home"><i class="icon-home"></i></a></li>
	    <li><a href="#" title="Clear" ng-click="clear()"><i class=" icon-remove-sign"></i></a></li>
          </ul>
          <h3 class="muted">Memory</h3>
	</div>

	<hr />
	
	<div>
	  <form class="form-inline">

	    <label>Size:</label>
	    <input class="input-small" type="number" ng-model="rows" min="3" max="8" size="3"/>
	    ×
	    <input class="input-small" type="number" ng-model="columns" min="3" max="8" />
	    <button class="btn btn-primary" ng-click="game.play()" ng-disabled="!playReady()">
	      <i class="icon-thumbs-up"></i> Go!
	    </button>
	  </form>
	  
	  <p class="{{playStyle()}}">Images: {{media.length}} / {{neededTiles()}}</p>

	  
	</div>	

	<hr />

	<p><b>Drop</b> or <b>paste</b>.</p>
	
	<hr />

	<form class="form-inline">
	  <label>File(s):</label>
	  <input type="file" accept="image/*,text/uri-list" multiple="multiple" />
	</form>

	<hr />

	<form class="form-inline" ng-submit="addUrl()">
	  <label>URLs: </label>
	  <input class="url" type="url" ng-model="url" />
	  <button class="btn" type="button"><i class="icon-plus-sign"></i>Add</button>
	</form>
	
	<hr />

	<!-- Video/webcam stuff -->
	<div ng-show="userMediaEnabled">
	  <p>
	    Camera:
	    <button class="btn" ng-click="toggleStream()"><i class="{{videoIcon()}}"></i>{{videoLabel()}}</button>
	    <button class="btn" ng-click="takePicture()" ng-disabled="!stream"><i class="icon-camera"></i>Take</button>
	  </p>
	  <video autoplay="autoplay" />
	  <canvas />
	</div>
	
      </div>
      <div class="filedrop span7"
	   dropzone="f:image/*"
	   >
	<div ng-repeat="m in media" style="display: table-row;">
	  <div style="display: table-cell;">
	    <div class="memory-cell">
	      <img src="{{m.url}}" onload="Helpers.fitImage(this);"/>
	    </div>
	  </div>
	  <div style="display: table-cell;">
	    <p><a class="btn" href="{{m.url}}" download="" target="_blank">Save</a></p>
	    <p><button class="btn" type="button" ng-click="removeMedia(m)"
		       ><i class="icon-remove-sign"></i>Remove</button></p>
	  </div>
	</div>
      </div>
    </div>
  </div>

  <!-- ***** ***** ***** ***** -->

  <div class="container" ng-show="playing">
    <button type="button" class="btn btn-link" ng-click="stopPlay()"><i class="icon-step-backward"></i></button>
    <button type="button" class="btn btn-link" ng-click="game.play()"><i class="icon-repeat"></i></button>
    <table>
      <tbody>
	<tr ng-repeat="row in game.grid">
	  <td ng-repeat="cell in row" ng-click="game.click(cell)">
	    <div class="memory-cell
			selected-{{cell==game.selectedCell || cell==game.otherSelectedCell}}">
	      <img src="{{cell.media.url}}" onload="Helpers.fitImage(this);"
		   ng-show="cell.found || cell==game.selectedCell || cell==game.otherSelectedCell"/>
	    </div>
	  </td>
	</tr>
      </tbody>
    </table>
  </div>

</body>
</html>
